.App {
  margin: 10vh auto;
  width: 50%;
  height: 70vh;
  border: 2px solid #bcbcff;
  border-radius: 10px;
}


.messages{
  height: 90%;
  overflow: auto;
  border-bottom: 2px solid #bcbcff;
}

.message{
  margin: 10px;
  padding: 10px 15px;
  border: 2px solid #bcbcff;
  background-color: #e4e4ff;
  border-radius: 5px;
}
.message-state{
  display: flex;
  width: 250px;
}
.message-state div{
  padding: 10px;
}
.message p{
  margin: 0;
  font-size: 18px;
  padding: 20px 15px;
}
.answers div{
  margin: 5px 20px;
  padding: 5px 10px;
  
  border-radius: 3px;
  border: 2px solid #babaf0;
  background-color: #eaeafb;

}

.likes i,
.dislikes i{
  cursor: pointer;
  margin-right: 5px;
}

.reply{
  cursor: pointer;
}

.input-wrapper{
  text-align: center;
  padding: 15px;
}
.input-wrapper input{
  width: 250px;
}
.answer,
.answer-state{
  display: flex;
  flex-direction: row;

}

.answer{
  margin: 4px 40px;
  background-color: #f0f0f0;
  padding: 5px;
  justify-content: space-between;
}

.answer-state .likes{
  margin-right: 10px;
}